<!-- PURPOSE: Contains content for a Question panel, which displays a single question and allows a user to select an answer based on the pre-selected options listed. -->

<div class="container">
  <div class="grid-container">
    
    <!-- HEADER: The question -->
    <div class="item-1"><h2>{{questions[qIndex].id}}. {{questions[qIndex].question}}</h2></div>
    
    <!-- MAIN: List of possible answers/options -->
    <div class="item-2">
        <!--
        <input type="radio" id="great" name="mood" value="Really Great">
        <label for ="great">{{questions[0].options[0].answer}}</label><br>
      
        <input type="radio" id="good" name="mood" value="Good">
        <label for ="good">{{questions[0].options[1].answer}}</label><br>
      
        <input type="radio" id="okay" name="mood" value="Okay">
        <label for ="okay">{{questions[0].options[2].answer}}</label><br>
      
        <input type="radio" id="bad" name="mood" value="Bad">
        <label for ="bad">{{questions[0].options[3].answer}}</label><br>
      
        <input type="radio" id="terrible" name="mood" value="Really Terrible">
        <label for ="terrible">{{questions[0].options[4].answer}}</label><br>-->
      
      <!--
      <div *ngFor="let answerSet of questions[questionIndex].options.answerSet">
        <input type="radio" name="mood">
        <label for ="great">{{answerSet.answer}}</label><br><br>
      </div>-->

      <!--
      <div *ngFor="let answerSet of questions[questionIndex].options.answerSet">
        <label for ="{{answerSet.answer}}">
          <input id="a-{{answerSet.answer.id}}" [value]='answerSet.id' type="radio" name="mood" [(ngModel)]="radioSelected">
          {{answerSet.answer}}
        </label><br><br>
      </div>-->

      <!--
      <p>{{questions[qIndex].selectedAnswer.id}}</p>
      <p>{{questions[qIndex].options.answerSet[0].id}}</p>-->

      <div *ngFor="let answerSet of questions[qIndex].options.answerSet">
        <label for ="{{answerSet.answer}}">
          <!--<div *ngIf="answerSet.id == questions[qIndex].selectedAnswer.id">-->
          <input id="a-{{answerSet.answer.id}}" [value]='answerSet.id' type="radio" name="mood" [(ngModel)]="radioSelected">
          {{answerSet.answer}}
        </label><br><br>
      </div>

      <!--<p>{{radioSelected}}</p>-->
      <!--<p>{{answerSelected}}</p>-->

      <!--<p>{{answerSelected.id}}</p>-->

    </div>

    <!-- FOOTER: Back and Next buttons -->
    <div class="item-3">

      <!--Previous/Back Button-->
      <!--<div class="back">-->
        <div class="button-nav" *ngIf="qIndex == (0); else elseBlock1">
          <a routerLink="/start">
            <button id=button-back>Back</button>
          </a>
        </div>

        <ng-template #elseBlock1>
          <button id=button-back routerLink="/question/{{questions[qIndex].id-1}}" (click)="prevQuestion(qIndex)">Back</button>
        </ng-template>

      <!--</div>-->

      <!--Next & Finish Buttons-->
      <!--<div class="next">-->
        <div class="button-nav" *ngIf="qIndex == (questions.length-1); else elseBlock2">
          <!--<a routerLink="/suggestion">
            <button id=button-next (click)="finishButton(qIndex)">Finish</button>
          </a>-->
          <button id=button-next (click)="finishButton(qIndex)">Finish</button>
        </div>

        <ng-template #elseBlock2>
            <button id=button-next routerLink="/question/{{questions[qIndex].id+1}}" (click)="nextQuestion(qIndex)">Next</button>
        </ng-template>
      <!--</div>-->
      
      <!--<a routerLink="/question:{{questionIndex}}">
        <button id=button-next (click)="nextQuestion(questionIndex)">Next</button>
      </a>-->

    </div>

  </div>
</div>