/* PURPOSE: Customized styling for the Question panels */

/* For the error message that appears if the user missed questions */
.error-msg {
    border-style: solid;
    border-radius: 5px;
    border-color: #D35B3F;
    background-color: rgb(240, 151, 151);
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 650px;
    margin-bottom: 10px;
    width: 75%;

}

/* For the panel/container containing the content, ie. the questions, options, and navigation buttons */
.container {
    background-color: #f7f7f7;
    color: #212121;
}

/* For the grid within the box/container */
.grid-container {
    grid-template-areas:
        "header header header"
        ". main ."
        ". footer .";
    border-radius: 5px;
    padding: 0;
    padding-bottom: 4%;
}

/* HEADER: The question */
.item-1 {
    background-color: #4f60bb;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color: #FFFFFF;
    display: inline-block;
    padding: 0 7%;
}

/* MAIN: The radio button options */
.item-2 {
    text-align: start;
    color: #212121;
    padding-top: 4%;
    width: 100%;
}

/* FOOTER: The navigation buttons */
.item-3 {
    color: #212121;
}

/* To hide the error message ("error-msg") until it's needed */
[hidden] {
    display: none;
}

/* BUTTONS */

/* A container with the previous and next buttons */
.button-nav {
    display: inline-block; /* have buttons beside each other */
    width: 30%;
    padding: 3%;
    margin-right: 50px;
}

/* Back/Previous button */
.button-back {
    float: left;
}

/* Next button */
.button-next {
    float: right;
    margin: 0;
}