<div class="container">
  <div class="grid-container">
    
    <div class="item-1"><h2>{{questions[questionIndex].question}}</h2></div>
    
    <div class="item-2">
        <!--
        <input type="radio" id="great" name="mood" value="Really Great">
        <label for ="great">{{questions[0].options[0].answer}}</label><br>
      
        <input type="radio" id="good" name="mood" value="Good">
        <label for ="good">{{questions[0].options[1].answer}}</label><br>
      
        <input type="radio" id="okay" name="mood" value="Okay">
        <label for ="okay">{{questions[0].options[2].answer}}</label><br>
      
        <input type="radio" id="bad" name="mood" value="Bad">
        <label for ="bad">{{questions[0].options[3].answer}}</label><br>
      
        <input type="radio" id="terrible" name="mood" value="Really Terrible">
        <label for ="terrible">{{questions[0].options[4].answer}}</label><br>-->
      
      <!--
      <div *ngFor="let answerSet of questions[questionIndex].options.answerSet">
        <input type="radio" name="mood">
        <label for ="great">{{answerSet.answer}}</label><br><br>
      </div>-->

      <div *ngFor="let answerSet of questions[questionIndex].options.answerSet">
        <label for ="{{answerSet.answer}}">
          <input id="a-{{answerSet.answer.id}}" [value]='answerSet.id' type="radio" name="mood" [(ngModel)]="radioSelected">
          {{answerSet.answer}}
        </label><br><br>
      </div>
    </div>

    <div class="item-3">
      <a routerLink="/suggestion">
        <button id=button-back>Back</button>
      </a>

      <div *ngIf="questionIndex == (questions.length-1); else elseBlock">
          <a routerLink="/suggestion">
            <button id=button-next>Finish</button>
          </a>
      </div>

      <ng-template #elseBlock>
          <button id=button-next (click)="nextQuestion(questionIndex)">Next</button>
      </ng-template>
      
      <!--<a routerLink="/question:{{questionIndex}}">
        <button id=button-next (click)="nextQuestion(questionIndex)">Next</button>
      </a>-->

    </div>

  </div>
</div>