<!-- PURPOSE: Contains content holding the information for all the other panel types (start, question, suggestion) -->

<!DOCTYPE html>

<html lang="en">

  <!-- HEADER -->
  <head>
    <title>"COVID-19 Mental Health"</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">
  </head>

  <!-- BODY: Where bulk of the content will be -->
  <body>
    <header>
      <!-- Works like div element/container, for the top part of page -->
    </header>

    <!-- For the ROUTING in this app -->
    <router-outlet></router-outlet>
    
  </body>

</html>