<!DOCTYPE html>

<html lang="en">

  <head>
    <title>"COVID-19 Mental Health"</title>
  </head>

  <body>
    <header>
      <!-- Works like div element/container, for the top part of page -->
      <!-- (Leave Blank) -->
    </header>
    
    <app-base-panel></app-base-panel>


    <!-- Section for the screen/card where most of the info will go 
    <section class="section-screen">
      <div class="row">
        <h1>Mental Health App</h1>
      </div>
    </section> -->

    

  </body>

</html>