/*.container {
    /*display: inline-block;*/
    /*background-color: #5e6cba;
    color: #FFFFFF;*/
    /*border-radius: 5px;*/
    /*max-width: 600px;*/
/*}*/

/* For the grid within the box/container */
.grid-container {
    /*display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: auto;*/
    grid-template-areas:
        ". header ."
        ". main ."
        ". footer .";
}

.item-1 {
    /*grid-area: header;*/
    /*margin: 2%;*/
    /*padding: 2%;*/
}

.item-2 {
    /*grid-area: main;*/
    /*text-align: center;*/
}

.item-3 {
    /*grid-area: footer;*/
    margin-bottom: 4%;
}

/* TEXT */

.scoring-text {
    margin: 0;
}

.suggestion-text {
    display: inline-block;
    margin: 3%;
    min-width: 85%;
    min-height: 5%;
    /*background-color: #e4a545;
    width: 25%;
    height: 50%;*/
}

p {
    margin: 2%;
}