/* PURPOSE: Customized styling for the Start panel */

/* For the grid within the box/container */
.grid-container {
    grid-template-areas:
        ". main ."
        ". footer .";
    padding: 2%;
}

/* MAIN: The text introducing the app to the user */
.item-1 {
    grid-area: main;
}

p {
    margin: 0;
}

/* FOOTER: The "Start" button */
.item-2 {
    grid-area: footer;
    padding: 2%; /* Give the button some space between the MAIN and the edge of the CONTAINER */
}

/* BUTTONS */

.button-start {
    width: 30%;
    padding: 3%;
    min-width: 150px;
}