/* For actual container itself and its alignment */

.container {
    /*display: inline-block;*/
    background-color: #5e6cba;
    color: #FFFFFF;
    border-radius: 5px;
    /*box-shadow: 0 8px 10px -8px #2b3433;*/
    max-width: 600px;
    /*min-height: 240px;*/
    /*text-align: center;*/
}

/* For the grid within the box/container */
.grid-container {
    display: grid;
    grid-template-columns: 5% 90% 5%;/*50px 500px 50px;*/
    grid-template-rows: auto; /*5% auto 80px 5%;*/
    grid-template-areas:
        ". main ."
        ". footer .";
    align-items: center;
}

.item-1 {
    grid-area: main;
    padding: 2%;
}

p {
    margin: 0;
}

.item-2 {
    grid-area: footer;
    padding: 2%;
}

.button-start {
    width: 30%;
    padding: 3%;
    /*border-color: rgb(76, 76, 76);*/
}

/* ANIMATIONS */

@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}