<!-- First Panel -->
<app-start-panel></app-start-panel>

<div class="grid-container">
  <p>How are you feeling today?</p>

  <input type="radio" id="great" name="mood" value="Really Great">
  <label for ="great">Really Great</label><br>

  <input type="radio" id="good" name="mood" value="Good">
  <label for ="good">Good</label><br>

  <input type="radio" id="okay" name="mood" value="Okay">
  <label for ="okay">Okay</label><br>

  <input type="radio" id="bad" name="mood" value="Bad">
  <label for ="bad">Bad</label><br>

  <input type="radio" id="terrible" name="mood" value="Really Terrible">
  <label for ="terrible">Really Terrible</label><br>

  <button>Back</button>
  <button>Next</button>
</div>

<div class="grid-container">
  <p>Based on your answers, I suggest... <br></p>

  <p>Put variable here for result</p>

  <button>Retake Questionnaire</button>
</div>